<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href= https://mindflash-custombranding.s3.amazonaws.com/atsilearn/favicon.ico type="image/x-icon">
  <title>Trakstar Learn: Sample Embed Player App</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="page-outer">
    <%- include('common/header') %>
    <%- body %>
  </div>
</body>

</html>