<!DOCTYPE html>
<html>
  <head>
		<link rel="icon" href="/favicon-32.png" sizes="32x32" type="image/png">
		<title>
			Mindflash Sample: Embed Player
		</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />  
	</head>
  <body>
    <%- include('common/pageBegin') %>
    <%- include('common/header') %>
    
    <%- body %>

    <%- include('common/pageEnd') %>
  </body>
</html>